body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    text-align: center;
}

#converter {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ee8f9f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}