*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container1 {
  height: 10vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
.grid-container2 {
  height: 20vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.grid-container3 {
  height: 25vh;
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container4 {
  height: 45vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.grid-box {
  padding: 68.7px;
}

.grid-rectangle {
  padding: 60px;
}
.grid-rectangle2 {
  padding: 84px;
}
.grid-smallrectangle {
  padding: 20px 5px 20px;
}

.main {
  height: 100vh;
}

body {
  height: 100vh;
}

.cyan {
  background-color: cyan;
}

.yellow {
  background-color: yellow;
}

.gray {
  background-color: gray;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}
