body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #fff;
  font-size: 16px;
}

@media (max-width: 600px){
  body {
    font-size: 14px;
  }
}


header {
    margin: 0;
	padding: 0;
	background-color: #333;
	text-align: center;
	padding: 5px;
}

header h1 {
	font-size: 24px;
	color: #fff;
	margin: 0;
    margin-top: 20px;
}

header h2 {
	font-size: 16px;
	color: #fff;
	margin: 0;
    margin-top: 20px;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 20px;
	margin-bottom: 5px;
}

li {
    float: center;
}


figure{
    font-family: Arial, sans-serif;
    text-align: center;
}



footer {
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	color: #999;
  margin-top: auto;
}

.btn {
    background-color: #333;
    border: none;
    color: white;
    padding: 2px 25px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.2s;
  }
  
  .btn:hover:not(.active) {
    background-color: #ee8f9f;
    color: black;
  }

  a{
    text-decoration:none
  }

  .active {
    background-color: #ee8f9f;
    border: none;
    color: black;
    padding: 2px 25px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    
}


  .div1 {
    background-color: white;
    width: 25%;
    padding: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px;
  }

  .div1 h1{
    background-color: #333;
    margin:auto;
    color:white;
    font-size: 18px;
  } 

  .div2 {
    background-color: white;
    width: 25%;
    padding: 10px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px;
  }

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #ee8f9f}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.2s;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ee8f9f;
    color: black;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 2px 25px;
    text-decoration: none;
    transition: 0.2s;
}

.box {
    width: 100px;
    height: 100px;
    background-color: purple;
    transition: width 2s;
}

#calculator {
  width: 200px;
  margin: 0 auto;
}

